<div>
  <div class="row">
    <div class="col-sm-4">

    </div>

    <div class="col-sm-4" style="background-color:#f5f5f5;">
      <form class="form-signin" (ngSubmit)="signIn()" [formGroup]="loginForm">
        <div class="text-center mb-4">
          <!-- <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
          <h1 class="h3 mb-3 font-weight-normal">Welcome to EuroFin</h1>
          <p>Provide User Name and Password to login or sign up. 
          </p>
        </div>

        <div class="form-label-group">
          <input type="email" id="inputEmail" class="form-control" placeholder="User Name"
            formControlName="UserName" autofocus="" [ngClass]="{'is-invalid': (
                          loginForm.get('UserName').dirty) &&
                          !loginForm.get('UserName').valid }" />
          <span class="invalid-feedback">
            <span *ngIf="loginForm.get('UserName').errors">
              Please enter your User Name.
            </span>
          </span>
        <label for="inputEmail">User Name</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="Password"
        [ngClass]="{'is-invalid': (loginForm.get('Password').touched ||
                          loginForm.get('Password').dirty) &&
                          !loginForm.get('Password').valid }" />
      <span class="invalid-feedback">
        <span *ngIf="loginForm.get('Password').errors">
          Please enter your Password.
        </span>
      </span>
    <label for="inputPassword">Password</label>
  </div>

  <div class="mb-3">
    <label>
      <label value="remember-me"> New User?</label>
      <a [routerLink]="'/register'"> Sign Up</a>
    </label>
  </div>

  <span >
    {{message}}
  </span>

  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Sign in</button>
  <p class="mt-5 mb-3 text-muted text-center">© 2017-2019</p>
  </form>
</div>

<div class="col-sm-4">

</div>
</div>

</div>